.postItem-container h2 {
  font-size: 26px;
  line-height: 1.3;
  margin: 30px 0 10px 0;
  font-weight: 800;
}

.postItem-preview {
  font-size: 14px;
  line-height: 1.7;
  color: #a3a3a3;
}

.postItem-container a h2 {
  color: #000;
}

.postItem-container a .postItem-preview {
  color: #a3a3a3;
}

.postItem-container h2:hover,
.postItem-container .postItem-preview:hover {
  color: #337ab7;
}

.postItem-date {
  font-size: 18px;
  font-family: 'Lora', 'Times New Roman', serif;
  color: #808080;
  font-style: italic;
  margin-bottom: 30px;
  margin-top: 0;
}

.postItem-container hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eee;
}
