body {
  font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.content-wraper {
  width: 750px;
  margin: 0 auto;
}
