.button-group a {
  color: #404040;
  font-size: 14px;
  padding: 15px 25px;
  font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
  background-color: #fff;
  display: inline-block;
  border: 1px solid #ddd;
  font-weight: 800;
}

.button-group a:hover {
  background: #eee;
}

.button-group .previous {
  float: left;
}

.button-group .next {
  float: right;
}
